*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container{
    height: 837px;
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.mary{
    font-size: 45px;
    font-weight: 900;
}

span{
    color: #FD6E0A;
}

.nav-container{
    width: 1140px;
    /* background-color: burlywood; */
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 47px;
}

.nav-container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-container nav ul a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
}

/* hero section */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 200px; */
    width: 1140px;
    margin: 0 auto;
}

.hardy-image{
    position: relative;
    left: 200px;
}

#hardy-image{
    width: 584px;
    height: 676px;
    object-fit: cover;
}

.button-container{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

#contact{
    color: #FD6E0A;
    padding: 18px 24px;
    background: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}

.hi{
    color: #474747;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}

.hardy-title{
    color: #181818;
    font-size: 85px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hardy-bio{
    color: #757575;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

}

/* Website main part start */

.about-container{
    display: flex;
    justify-content: center;
}

.child-about-container{
    width: 1140px;
    background-color: #FFF8F3;
    margin-top: 130px;
    margin-bottom: 130px;
    border-radius: 10px;
    padding: 130px 156px;
}

.about-title{
    text-align: center;
    margin-bottom: 30px;
    color:#181818;
    font-size: 35px;
    font-weight: 700;
}

.about-bio{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.about-info{
    display: flex;
    justify-content: center;
    gap: 50px
}

.name{
    text-align: center;
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.contact-info{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* what I do section */

.what-do-container{
    display: flex;
    justify-content: center;
}

.child-what-do-container{
    width: 1140px;
    margin-bottom: 50px;
}

.card-box{
    display: flex;
    gap: 24px;
}

.four-card-box{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.icon{
    margin-bottom: 30px;
}
.card-title{
    margin-bottom: 20px;
    color: #181818;
    font-size: 18px;
    font-weight: 700;
}
.card-bio{
    font-size: 15px;
    color: #757575;
    line-height: 28px;
}

/* My resume part */

.resume-container{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.child-resume-container{
    width: 1140px;
    /* height: 500px; */
    margin-bottom: 130px;

}

.first-row{
    display: flex;
    gap: 25px;
}

.education{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 30px;
}

.master{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 30px;
}

.harvard{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}

.skill{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

#resume{
    /* margin-top: 80px; */
    margin-bottom: 100px;
}

#btn-container{
    display: flex;
    justify-content: center;
}

/* My amazing work section style */

.child-amazing-container{
    margin: 0 auto;
    margin-bottom: 130px;
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.racktangle-1{
    margin-bottom: 15px;
}

/* footer section */

.footer-container{
    background-color: #FFF8F3;
    padding-top: 130px;
    padding-bottom: 130px;
}

.child-footer-container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
}

#lets-connect, #Message-me{
    text-align: left
}

#connect-bio{
    text-align: left;
}

.social-media{
    display: flex;
    gap: 24px;
}

.footer-contact-info{
    flex: 1;
}

.form-section{
    flex: 1;
}

.form-section input,
.form-section textarea{
    width: 100%;
    border: none;
    outline: none;
    padding: 30px;
    border-radius: 5px;
}

input::placeholder{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

input:focus{
    color: #FD6E0A;
}
